body{
    background-color: black;
    background-image: url(IMG_1038.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


img{
    height: 300px;
    border: 10PX;
    border-radius: 20px; 
    transition: 0.2S;
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0);
    margin-bottom: 20px;
}

.head{
    color: black;
    text-align: center;
    border: 10px gray solid;
    background-color: gray;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

